{{> header}}
<div id="app" class="bg-light p-2" style="--bs-bg-opacity: .2;">
<h2 align="center">
<div class="alert alert-primary" role="alert">
{{viewTitle}}
</div>
</h2><br><br><br>
<table class="table table-primary table-striped table-bordered border-primary" style="text-align:center ">
    <thead>
        <tr>
            <th>Grado</th>
            <th>Nombre</th>
            <th>ID. Estudiante</th>
            <th>ID. Clase</th>
            <th colspan="2" align="center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.grade}}</td>
            <td>{{this.name}}</td>
            <td>{{this.e_id}}</td>
            <td>{{this.c_id}}</td>
            <td>
                <a class="btn btn-primary" href="/asignanmet/{{this._id}}" role="button">Actualizar</a>
                </td>
                <td>
                <a class="btn btn-danger" href="/asignanmet/delete/{{this._id}}"
                onclick="return confirm('Desea eliminar el registro?')" role="button">Eliminar</a>
            </td>
        </tr>
        {{/each}}
        </tbody>
</table>
</div>